* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/img1.jpeg);
  background-size: cover;
}

#home {
  width: 50%;
  height: 400px;
  border: solid 1px black;
  /* background-color: rgb(199, 189, 189); */
  background-image: url(./images/ht.jpg);
  background-size: cover;
  margin: 100px 300px;
}

.home-info h1 {
  text-align: center;
  width: 100%;
  height: 100px;
  font-size: 28px;
  background-color: rgb(104, 92, 92);
  color: #ffffff;
  line-height: 50px;
  text-transform: uppercase;
}

.countdown {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}

.countdown li {
  list-style: none;
}

.countdown span {
  text-align: center;
  margin-left: 15px;
  font-size: 22px;
}

.countdown h3 {
  font-size: 28px;
}

#Expired {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-top: 50px;
}
